<h1>reservation_view</h1>
<table>
  <tbody>
    <% @sheets.group_by(&:row).each do |row, sheets| %>
      <tr>
        <% sheets.each do |sheet| %>
          <td>
            <% if @reserved_sheet_ids.include?(sheet.id) %>
              <%= "#{sheet.row}-#{sheet.column}" %>
            <% else %>
              <%= link_to "#{sheet.row}-#{sheet.column}", 
                  new_movie_schedule_reservation_path(@movie, @schedule, date: @date, sheet_id: sheet.id) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
