<h1><%= @movie_cinema.movie.name %> (<%= @movie_cinema.cinema.name %>)</h1>

<h2>上映スケジュール一覧</h2>
<table>
  <thead>
    <tr>
      <th>上映開始</th>
      <th>上映終了</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      </tr>
  </tbody>
</table>
